# project-specific files
sqlite3.db
config.ini

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

