<style>
body{background: #3AAE84;}
.centered {
    margin: 0;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.white {
    color: white;
}
</style>

<div class="white centered">
	The bot was successfully added to your Slack team.
</div>
